<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%- include('./partials/head.ejs') %> 
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container text-center">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eaque, illo ad, perferendis sapiente libero quam
            fugiat veniam eveniet, eos aliquam ipsa! Exercitationem, tenetur veniam.</p>
    </div>

    <%- include('./partials/modal.ejs') %> 
    <%- include('./partials/js.ejs') %> 
</body>

</html>