<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student EJS</title>
</head>

<body>
    You are looking info of <%= id %>
    You are looking info of <%= data.nama %> with nim <%= data.nim %>
</body>

</html>